<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 th:text="${nombre}"></h1>
    <div th:if = "${dispositivos != null and !dispositivos.empty}"> <!--informacion que salva vidas: todo entre comillas y las condiciones igual que en java  -->
        
        <div th:each="dispositivo : ${dispositivos}">
            <p th:text="${dispositivo.getNombre()}"></p>
        </div>
    </div>
    <div th:if="${dispositivos == null or dispositivos.empty}">
        <p>vacio</p>
    </div>
</body>
</html>